*{
	margin: 0;
	padding: 0;
}
html,body,fieldset,img,iframe,abbr,button {
	border:0;
}
#main{
	position: relative;
	margin: 0 auto;
}
.box{
	float: left;
	padding: 16px 0 0 16px;
}
.pic{
	padding: 4px;
	border:1px solid #ccc;
	border-radius: 5px;
	box-shadow: 0 2 6px #ccc;
}
.box img{
	width: 280px;
	height: auto;
	object-fit:cover;	
}
.g-pic{
	position: fixed;
	top: 0;
	right: 0;
	bottom:0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 8;
}
.m-pic{
	width: 100%;
	height: 100%;
}
.m-pic img{
	position: absolute;
	left: 50%;
	top: 50%;
	transform:translate(-50%,-50%);
}