*{margin: 0;padding: 0;}
body,textarea,input,button,select,keygen,legend{font:14px/1.14 'Microsoft YaHei';color:#747470;outline:0;}
body{background:#fff;}
.f-clear:after{content:'.';display: block;clear: both;height: 0;overflow: hidden;visibility: hidden;}
.f-clear{zoom:1;}
.f-right{float: right;}
.f-left{float: left;}
.f-zz{z-index: 5;}
.hr_10{width: 100%;height: 10px;overflow: hidden;}
.g-top{
	width: 100%;
	text-align: center;
	margin-bottom: 36px;
}
.g-top .m-top{
	position: relative;
	height: 62px;;
	width: 892px;
	display: inline-block;
	text-align: left;
}
.g-top .m-top .m-logo{
	width: 110px;
	height: 60px;
	display: inline-block;
	background: url(../img/bg.png) no-repeat ;
}
.g-top .m-top p,.g-top .m-top .m-logo p{
	position: absolute;
	bottom: 2px;
	display: inline-block;	
	font-size:12px;
	font-family: "黑体";
}
.g-top .m-top .m-logo p{
	color: #fff;
	margin-left: 8px;
	left: 0;
}
.g-top .m-top p{
	right: 0;
	color: #d45d5c;
}
.g-top .m-line {
	width: 892px;
	height: 2px;
	background: url(../img/sprint.png) no-repeat ;
	background-position: 0 -36px;
}
/*header部分*/
.g-warp{
	width: 100%;
	text-align: center;	
	padding-left: -690px;	
}
.g-warp .m-warp{
	display: inline-block;
}
.g-warp .g-header{
	width: 912px;
}
.g-warp .m-headerpic{
	width: 641px;
	height: 301px;
	position: relative;
}
.g-warp .m-headerpic .u-img1{
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0.4;
} 
.g-warp .m-headerpic .u-img2{
	position: absolute;
	top: 0;
	right: 0;
	opacity: 0.4;
}
.g-warp .m-hcontent{
	float: right;
	height: 301px;
	width: 203px;
	text-align: left;	
}
.g-warp .m-hcontent .u-line{
	width: 203px;
	height: 2px;
	background-color: #CC8091;
}
.g-warp .m-hcontent h3{
	color: #000;
	font-size: 24px;
	line-height: 40px;
	text-decoration: underline;
}
.g-warp .m-hcontent p {
	font-size: 12px;
	font-family: "楷体";
	line-height: 10px;
}
.g-warp .m-hcontent h2{
	display: inline-block;
	font-style:italic;
	font-size: 116px;
	color: #75b86b;
}
.g-warp .m-hcontent .u-bcontent{
	margin-top: 5px;
}
.g-warp .m-hcontent .u-bcontent h2,.g-warp .m-hcontent .u-bcontent h4,.g-warp .m-hcontent .u-bcontent p{
	display: inline-block;
	color: #cc8091;
}
.g-warp .m-hcontent .u-bcontent h2{
	margin-top: 5px;
	font-style: normal;
	font-size: 55px;
	text-decoration: none;
}
.g-warp .m-hcontent .u-bcontent h4{
	margin-top: 22px;
	font-size: 21px;
	text-decoration: none;
}
.g-warp .m-hcontent .u-bcontent p{
	font-size: 12px;
}
.g-content{
	margin-top: 42px;
	width: 641px;
	text-align: left;
}
.g-content h2{
	font-weight: bold;
	font-size: 16px;
	font-family: "微软雅黑";
	text-decoration: underline;
}
.g-content p{
	display: inline-block;
	line-height: 16px;	
	font-size: 12px;
}
.g-content .m-left{
	float: left;
	width: 40%;
	font-family:'宋体';
	color: #767777;
	box-sizing: border-box;
}
.g-content .m-left h2 {
	color: #418c59;
}
.g-content .m-middle,.g-content .m-right{
	float: left;
	width: 30%;
	padding-left: 30px;
	line-height: 16px;
	font-size: 12px;
	font-family: "微软雅黑";
	box-sizing: border-box;
}
.g-content .m-middle h2{
	color: #d2994f;
}
.g-content .m-middle p{
	color: #231815;
	opacity: .7;
}
.g-content .m-right h2{
	color: #cc7680;	
}
.g-content .m-right p {
	font-style: italic;
	color: #231815;
	opacity: .7;
}
.g-content .m-right div ul{
	list-style: none;
	opacity: .7;
}
.g-content .m-right div ul span{
	color: #cd4a48;	
}
.g-footer{
	display: inline-block;
	text-align: left;
}
.g-footer .m-left{
	width: 434px;	
	margin-right: 20px;
}
.g-footer .m-left h2{
	display: inline-block;
	height: 30px;
	padding-bottom: 12px;
	line-height: 16px;
	font-size: 42px;
	font-weight: bold;
	font-family: "黑体";
	color: #11456b;	
}
.g-footer .m-left .u-font{
	display: inline-block;
	height: 50px;
	margin-right: 19px;
	font-size: 72px;
	font-style: italic;
	font-weight: bold;
	font-family: "黑体";
	color: #f5e327;
}
.g-footer .m-left h3{
	margin: 4px 0 17px 0;
	font-size: 33px;
	font-weight: bold;
	font-family: "黑体";	
	color: #11456b;		
}
.g-footer .m-left .u-line{
	width: 415px;
	height: 2px;
	margin-bottom: 26px;
	background-color: #11456b;
}
.g-footer .m-left .m-content .letter:first-letter{
	font-size: 70px;
	color: #F5E327;
}
.g-footer .m-left .m-content p{
	font-size: 12px;
	line-height: 16px;
	font-family: "宋体";
	color: #767777;	
}
.g-footer .m-left .m-content .u-indent{
	text-indent: 2em;
}
.g-footer .m-left .m-content img{
	padding:  22px 0 18px 24px;
}
.g-footer .m-right .m-content1{
	margin-top: 60px;
	width: 459px;
	height: 190px;
	text-align: left;
	font: 16px "宋体";
	color: #5a5b5b;
	margin-bottom: 10px;
}
.g-footer .m-right .m-content1 p{
	position: relative;
	padding-left: 20px;
	margin-bottom: 20px;
}
.g-footer .m-right .m-content1 span{
	text-align: right;
	font-size: 12px;
	font-style: italic;
}
.triangle{
	position: absolute;
	left:0;
	top:50%;
	width: 0;
	height: 0;
	border-bottom: 5px solid #0F4573;
	border-right: 5px solid #fff;
	border-left: 5px solid #fff;
	margin-right: 10px;
}
.g-footer .m-right .leftArea{
	float: left;
	width: 260px;
	/*height: 160px;*/
	background-color: #D55D5C;
	color: #fff;	
}
.g-footer .m-right .leftArea .bigFont{
	font: 110px "Microsoft YaHei";
	margin-top: 10px;
}
.g-footer .m-right .leftArea .f_line{
	width: 2px;
	height: 86px;
	background-color: #fff;
	margin-top: 40px;
}
.g-footer .m-right .leftArea .wrap{
	display: inline-block;
	padding-left: 10px;
	margin-top: 40px;
}
.g-footer .m-right .leftArea .midFont{
	font: italic 21px "黑体";
	line-height: 24px;
}
.g-footer .m-right .leftArea .smallFont{
	font: 12px "黑体";
	line-height: 12px;
}
.g-footer .m-right .rightArea{
	float: right;
	width: 200px;
}
.g-footer .m-right .rightArea span{
	font:72px "黑体";
	color: #d45d5c;
}
.g-footer .m-right .rightArea .f-big{
	float: left;
	margin: 0px 10px -40px 10px;
}
.g-footer .m-right .rightArea p{
	padding-top: 26px;
	padding-left: 10px;
	font: italic 14px "黑体";
	line-height: 16px;
}
.g-footer .line{
	width: 892px;
	height: 1px;
	background-color: #938e8c;
	margin: 40px auto;
	margin-bottom: 0;
}
.footer_r {
	width: 890px;
	margin: 0 auto;
}
.footer_r a{
	float: right;
	margin-bottom: 60px;
	font: 12px "黑体";
	text-decoration: none;
	color: #d45d5c; 
}